@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-color--: #fff;
    --Head-font-family--: 'Poppins', sans-serif;
    --font-family--: sans-serif;
}

.netflix-clone {
    overflow: hidden;
}

header {
    height: 650px;
    padding: 0px 2.22vw;
    background-image: url(Img/background.jpg);
    background-size: cover;
    color: #fff;
}


.nav-bar {
    height: 120px;
    margin: 0px 0px -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


.nav-bar img {
    height: 50px;
    padding: 24px;
    margin: -8px 0px 0px -8px;
}

#nav-right {
    margin-right: 8vw;
    font-size: 1rem;
    padding: 0px 1vw;
    font-family: sans-serif;
}

#language {
    color: #dedede;
    margin-right: 1.5vw;
    border: 0.5px solid rgb(93, 92, 92);
    padding: 0.75vh 1.3vw 0.75vh 1.2vw;
    border-radius: 0.3rem;
    background-color: rgba(10, 10, 10, 0.5);
}

select {
    font-size: 1rem;
}

#login {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    padding: 1.1vh 1vw;
    border-radius: 0.3rem;
    background-color: rgba(240, 0, 0, 0.95);
    transition: 0.4s ease;
    font-size: 0.9rem;
}

#login:hover {
    background-color: rgba(240, 0, 0, 0.80);
}

/* hero main section */
.hero-section {
    height: 500px;
    padding-top: 0px 32px 32px;
    margin: -32px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section .container {
    width: 610px;
    text-align: center;
    
}
#heading1 {
    margin-bottom: 16px;
    font-family: var(--Head-font-family--);
    font-size: 3.2rem;
    line-height: 70px;
    font-weight: 800;
}

#heading2 {
    margin: 0px 0px 16px;
    font-size: 1.3rem;
    font-weight: 550;
    font-family: var(--font-family--);
}

#heading3 {
    font-size: 1rem;
    font-weight: 545;
    font-family: var(--font-family--);
}

.validation {
    padding-top: 18px;
}

/* Validation */
#email {
    padding: 15px 8vw 15px 1vw;
    font-size: 1.3rem;
    background-color: rgba(11, 11, 11, 0.7);
    border: 1.5px solid rgb(122, 116, 116);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
}
input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    font-size: 1rem;
    font-weight: 550;
    white-space-collapse: collapse;
}

input::placeholder:active {
    position: absolute;
    left: 0px;
}

#signup-button, .getstart {
    border: none;
    font-size: 1.3rem;
    padding: 2.2vh 2.3vw;
    border-radius: 5px;
    color: #e6dddd;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(220, 0, 0);
}

#signup-button, .getstart:hover {
    background-color: rgba(220, 0, 0, 0.9);
}

#line {
    width: 100%;
    height: 4px;
    padding: 0px 148px;
    background-color: #696868;
}

/* TV-Section */

#heading-first {
    margin: 0px 0px 36px;
    font-size: 3.2vw;
    color: #ffffff;
    font-family: var(--font-family--)
}

#heading-second {
    width: 25vw;
    font-size: 1.3rem;
    font-family: var(--font-family--);
    color: #e6dddd;
    font-weight: 200;
    color: #ffffffb3;
}


.tv {
    height: 600px;
    background-color: black;
    color: #fff;
    display: flex;
    padding: 0px 7.71vw;
    justify-content: space-between;
    align-items: center;
   
}

.tv-img {
    height: 20vw;
    width: 33vw;
    border-radius: 8px;
}

/* Download section */
.download {
    height: 600px;
    padding: 0px 7.71vw;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-img {
    height: 28vw;
    width: 38vw;
}

/* laptop watch */
.laptop {
    height: 600px;
    padding: 0px 7.71vw;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 8vw; */
}

.laptop-img {
    height: 20vw;
    width: 33vw;
    border-radius: 8px;
}

/* kids section */
.kids {
    height: 600px;
    padding: 0px 7.71vw;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8vw; */
}

.kids-img {
    height: 30vw;
    width: 45vw;
}

/* Questions section */

.questions-answers {
    height: 200vh;
    padding: 0px 7.71vw;
    background-color: black;
    color: #fff;
    padding-top: 25px;
}

.heading-title {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    /* padding-top: 2vh ; */
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.content .questions #cut-icon {
    display: none;
}

ul {
    width: 100%;
    list-style: none;
}

.questions {
    margin-top: 5px;
    padding: 24px;
    height: 84px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: rgba(53, 53, 53, 0.9);
    color: var(--font-color--);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.content button:hover {
    background-color: rgba(125, 122, 122, 0.7);
}

.answer {
    margin-top: 1px;
    padding: 24px;
    background-color: rgba(53, 53, 53, 0.9);
    color: var(--font-color--);
    font-family: sans-serif;
    font-size: 1.3rem;
    display: none;
}

/* Bottom validation */
.bottom-validate {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom-validation {
    padding-top: 16px;
}
.bottom-validation .bottom-email {
    padding: 15px 19vw 15px 1vw;
    font-size: 1.3rem;
    background-color: rgba(11, 11, 11, 0.7);
    border: 1.5px solid rgb(122, 116, 116);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
}

/* footer */
footer{
    margin-top: 60px;
    color:#ffffffb3;
    font-family: sans-serif;
}

.contact {
    font-size: 1.2rem;
    font-weight: 530;
}

.fcontainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.fcontainer li, a {
    margin: 12px 0px 0px;
    color: #ffffffb3;
    font-size: 1rem;
}

.flanguage {
    margin-top: 60px;
}

.netflix-india {
    margin-top: 50px;
}
/* Responsive design */

@media (max-width: 600px) {
    .nav-bar {
       height: 90px;
    }
    .nav-bar img {
        height: 34px;
    }
    #nav-right {
        margin-right: 2vw;
    }
    #login {
        padding: 1.1vh 2vw;
    }
    #language {
        margin-right: 1vw;
        padding: 0.70vh 1.3vw 0.70vh 1.2vw;
    } 
    .hero-section .container {
        width: 90%;
    }
    #heading1 {
        margin: 0px 0px 8px;
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 600;
    }
    #heading2 {
        font-size: 1rem;
        font-weight: 250;
    }
    #heading3 {
        font-size: 0.9rem;
    }
    #email {
        width: 95%;
        padding: 12px 1.8vw 12px 1.8vw;
    }
    #signup-button, .getstart {
        margin-top: 15px;
        padding: 1.6vh 2.3vw;
        font-weight: 500;
        font-size: 1.2rem;
    }  
    /* Question */
    .questions-answers {
        padding: 0px 7.71vw;
        padding-top: 25px;
    }
    
    .heading-title {
        font-size: 18px;
    }
    .questions {
        height: 72px;
        padding: 24px;
        font-size: 18px;
    }
    .bottom-validation .bottom-email {
        padding: 12px 37vw 12px 2vw;
    }
    /* footer */
    .fcontainer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .fcontainer li, a {
        font-size: 0.9rem;
    }
}